<div class = "wrapper">
<header id = "main_header">
	
	<%= link_to image_tag("EmployerPages_logo.png", alt: "Employer Pages by Source Uno", width:"370", height:"41"), 'http://sourceuno.com' %>
  <nav id = "main_nav">
        <ul>
            <li><a href="http://sourceuno.com">Home</a></li>
            <li><a href="#">Back to List</a></li>  
      </ul>
    </nav>
    <h3>ACCOUNTING - SOUTHEAST </h3>
</header>
<article>
<header id = "article_header">
	<figure>
		<%= link_to image_tag("su-logo-transparent-text.fw.png", alt: "Company Logo", width:"100", height:"100"), 'http://sourceuno.com' %>
	</figure>
<H2>Source Uno LLC</H2>
<nav id = "article_nav">
        <ul>
          <li><a href="#">Job Openings</a></li>
          <li><a href="#">Get Alerts</a></li>  
        </ul>
      </nav>
</header>
<aside><h5>Live Twitter Feed</h5>
<a class="twitter-timeline" href="https://twitter.com/sourceuno" data-widget-id="270387348469063681">Tweets by @sourceuno</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></aside>
    <section id = "company_info">
        <h5>Company Information</h5>
        <p><span class="bold">Summary:</span> lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem
        <br>
        <br>
        <span class="bold">Headquarters:</span> Atlanta
        <br>
        <span class="bold">Company Size:</span> 250 - 500 employees
        <br>
        <span class="bold">Office Locations & Size:</span> Atlanta (100 - 150), Charlotte (50 - 100), Nashville (<25)
        <br>
        <span class="bold">Common Positions Hire for:</span> Staff Accountants
        <br>
        <span class="bold">Recruiting Cycle:</span> Interns and Junior accountants in the spring, other positions periodically
        <br>
        <span class="bold">Campuses Recruit On:</span> Georgia, Georgia State, Tennessee
        </p>
        <p> visit <a href="http://www.sourceuno.com" target="_blank">www.sourceuno.com</a>
      
	  <%= link_to image_tag("f_logo.png", alt: "Visit us at Facebook", width:"20", height:"20"), 'http://www.facebook.com/sourceuno' %>
	  
	  <%= link_to image_tag("twitter.png", alt: "Follow us on Twitter", width:"20", height:"20"), 'http://www.twitter.com/sourceuno' %>
	  
	  <%= link_to image_tag("linkedin.png", alt: "Visit us at Linkedin", width:"20", height:"20"), 'http://www.linkedin.com/sourceuno' %>      
    </section>
	<section id = "company_highlights">
    	<h5>Company Highlights</h5>
        <p>One of the best accounting firms to work for ~ Accounting Today
        <br> One of the 50 best places to work in Atlanta ~ Atlanta Business Chronicle 2007 & 2009
        <br>One of the 10 top entrepreneural startups in Atlanta ~ Hypepotamus List 2013
        </p>
   	</section>
	<section id = "company_video">
     <h5>Company Video</h5>
        <iframe width="400" height="300" src="http://www.youtube.com/embed/AflAnZE21fg" ></iframe>
    </section>
    <section id = "company_instagram">
     <h5>Instagram Feed</h5>
 <iframe src="http://widget.stagram.com/in/sourceuno/?s=150&w=3&h=1&b=1&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:495px; height: 165px" ></iframe> <!-- Webstagram - web.stagram.com -->

</section>
</article>
<footer>
    <ul>
        <li><a href="#">| Support</a></li>
        <li><a href="#">| Site Map</a></li>
        <li><a href="#">| About</a></li>
        <li><a href="#">Terms</a></li>
    </ul>
    <p>Copyright &copy; 2013 SourceUno, LLC</p>
</footer>
</div>