	<footer id="mainfooter">
	    <ul id="mainfooter_ul">
	        <li><%= link_to "About",    about_path %></li>
			<li><%= link_to "Contact",    contact_path %></li>
	        <li><a href="#">Terms of Service</a></li>
			 <li><a href="#">Privacy Policy</a></li>
	    </ul>
  	  <%= link_to image_tag("f_logo.png", alt: "Visit us at Facebook", width:"20", height:"20"), 'http://www.facebook.com/sourceuno' %>
	  
  	  <%= link_to image_tag("twitter.png", alt: "Follow us on Twitter", width:"20", height:"20"), 'http://www.twitter.com/sourceuno' %>
	  
  	  <%= link_to image_tag("linkedin.png", alt: "Visit us at Linkedin", width:"20", height:"20"), 'http://www.linkedin.com/sourceuno' %>
		<p>Copyright &copy; 2013 SourceUno, LLC</p>
	</footer>
</div>