<div class = "container-fluid">
	<div class="row-fluid">
		<%= link_to image_tag("sourceuno_logo.png", alt: "Source Uno"), 'http://sourceuno.com' %>
<header class="span12">
	<nav class="navbar">
		<div class="navbar-inner">
			
	    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
			</a>
    
	    <div class="nav-collapse">
	    <ul class="nav nav pull-right">
	      <li><%= link_to "Home",    root_path %></li>
	      <li><%= link_to "Help",    help_path %></li>
		  <li><%= link_to "About",    about_path %></li>
		  <li><%= link_to "Contact",    contact_path %></li>
		  <li><%= link_to "Sign in", '#' %></li>
	    
	 
		  
	    </ul>
	    </div>
	    </div>
	</nav>	
</header>